$blue-800: #2e3b4e;
$blue-900: #263446;
$blue900-transparent: rgba(38, 52, 70, 0.95);

$purple-500: #8a08cf;
$purple-900: #521a66;
$purple900-transparent: rgba(82, 26, 102, 0.6);

$peach-500: #e7526b;
$peach500-transparent: rgba(231, 82, 107, 0.8);

$white-900: #ffffff;