$font-primary: 'Open Sans', sans-serif;

$font-xxs: 10px;
$font-xs: 12px;
$font-small: 14px;
$font-regular: 16px;
$font-medium: 18px;
$font-large: 24px;
$font-xl: 34px;
$font-xxl: 40px;
$font-xxxl: 48px;