.o-title {
  font-size: $font-regular;
  font-weight: 700;
  color: $white-900;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 20px 0;
}

.o-title--large {
  font-size: $font-medium;
  font-weight: 100;
  color: $white-900;
  letter-spacing: 0.02em;
  padding: 30px 0;
}

.o-title--huge {
  font-size: $font-xxl;
  font-weight: 700;
  color: $white-900;
  letter-spacing: -0.02em;
  line-height: 1.3em;
  padding: 20px 0;
}

@include breakpoint(medium) {
  .o-title--large {
    font-size: $font-large;
  }
}

.o-subtitle {
  font-size: $font-xxs;
  letter-spacing: 0.05em;
  margin-top: 20px;
}