.c-photography {
  width: 100%;
  height: 100%;
  position: relative;
}

.c-photography__image {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;

  img {
    height: 100%;
    object-fit: cover;
    transform: translateX(-33%);
  }
}

.c-photography__contents {
  padding-top: 200px;
  padding-bottom: 50px;
}

.c-photography__data {
  max-width: 600px;
}

.c-photography__credit {
  display: flex;
  width: 100%;
  max-width: 280px;
  text-decoration: none;
  transition: all 300ms ease-in-out;

  img {
    width: 40px;
    height: 40px;
    transform: scale(40px 40px);
    object-fit: cover;
  }

  .o-paragraph {
    font-weight: 700;
    padding-left: 15px;
    padding-bottom: 0;
    line-height: 3.5em;
  }
}

.c-photography__credit:hover {
  cursor: pointer;

  & > img {
    transform: scale(45px, 45px);
  }

  & > .o-paragraph {
    text-decoration: underline;
  }
}

@include breakpoint(medium) {
  .c-photography__image img {
    width: 100%;
    transform: none;
  }
}

@include breakpoint(large) {
  .c-photography__image {
    width: 100%;
  }

  .c-photography__contents {
    padding-top: 300px;
  }
}